@import "syntax-variables";


//
// {
//   'match': '(^[▼▶].*)'
//   'name': 'markup.heading.h2.piku'
// }
// {
//   'match': '([＜\\[].*?[\\]＞])'
//   'name': 'markup.heading.h3.piku'
// }
// {
//   'match': '(^・.*)'
//   'name': 'markup.heading.h4.piku'
// }
// {
//   'match': '(^[^\\s]*?[:：])'
//   'name': 'markup.heading.list.piku'
// }
// {
//   'match': '([０-９0-9]+[\.．][^ 　]*)'
//   'name': 'markup.list.numbered.piku'
// }
// {
//   'match': '([（\(].*?[\)）])'
//   'name': 'markup.comment.block.piku'
// }
// {
//   'match': '(^[※\*].*)'
//   'name': 'comment.note.piku'
// }
// {
//   'match': '(^#.*)'
//   'name': 'comment.line.piku'
// }
// {
//   'match': '([^\\s:：]*?:\/\/[^\\s]*)'
//   'name': 'entity.uri.piku'
// }
// {
//   'match': '([^\\s:：]*?@[^\\s]*)'
//   'name': 'entity.email.piku'
// }


// basic style
atom-text-editor .syntax--piku, :host{
  background-color: @piku-background;
  color: @piku-base-text;
}

.syntax{
  &--markup{
    &.syntax--heading{
      &.syntax--h2{
        &.syntax--piku{
          color:@piku-yellow;
          font-weight: bold;
        }
      }
      &.syntax--h3{
        &.syntax--piku{
          color:@piku-right-blue;
          font-weight: bold;
        }
      }
      &.syntax--h4{
        &.syntax--piku{
          color:@piku-right-pink;
          font-weight: bold;
        }
      }
      &.syntax--list{
        &.syntax--piku{
          color:@piku-right-blue;
        }
      }
    }
    &.syntax--list{
      &.syntax--numbered{
        &.syntax--piku{
          color: @piku-right-pink;
        }
      }
    }
    &.syntax--comment{
      &.syntax--block{
        &.syntax--piku{
          color: @piku-gray;
        }
      }
    }
  }
  &--comment{
    &.syntax--note{
      &.syntax--piku{
        color: @pink;
      }
    }
    &.syntax--line{
      &.syntax--piku{
        color: @piku-gray;
      }
    }
  }
  &--entity{
    &.syntax--uri{
      &.syntax--piku{
        color: @piku-bluegreen;
      }
    }
    &.syntax--email{
      &.syntax--piku{
        color: @piku-purple;
      }
    }
  }
}


// assist style
atom-text-editor .piku, :host{
  background-color: @piku-background;
  color: @piku-base-text;
}

.markup{
  &.heading.h2.piku{
    color: @piku-purple;
  }
  &.heading.h3.piku{
    color: @piku-purple;
  }
  &.heading.h4.piku{
    color: @piku-purple;
  }
  &.heading.list.piku{
    color: @piku-purple;
  }
  &.list.numbered.piku{
    color: @piku-purple;
  }
  &.comment.block.piku{
    color: @piku-purple;
  }
}
.comment{
  &.note.piku{
    color: @piku-purple;
  }
  &.line.piku{
    color: @piku-purple;
  }
}
.entity{
  &.uri.piku{
    color: @piku-purple;
  }
  &.email.piku{
    color: @piku-purple;
  }
}

// markup.heading.h2.piku
// markup.heading.h3.piku
// markup.heading.h4.piku
// markup.heading.list.piku
// markup.list.numbered.piku
// markup.comment.block.piku
// comment.note.piku
// comment.line.piku
// entity.uri.piku
// entity.email.piku
