@import "syntax-variables";

// basic style
atom-text-editor .syntax--piku{
  color: @piku-base-text;
  //font-family:"小塚ゴシック ProL","Helvetica Neue","sans-serif";
}

.syntax{
  &--markup{
    &.syntax--heading{
      &.syntax--title1{
        &.syntax--piku{
          color:@piku-pink;
        }
      }
      &.syntax--title2{
        &.syntax--piku{
          color:@piku-right-blue;
        }
      }
      &.syntax--title3{
        &.syntax--piku{
          color:@piku-right-blue;
        }
      }
      &.syntax--title4{
        &.syntax--piku{
          color:@piku-pink;
        }
      }
      &.syntax--list{
        &.syntax--piku{
          color:@piku-right-blue;
        }
      }
    }
    &.syntax--list{
      &.syntax--numbered{
        &.syntax--piku{
          color: @piku-pink;
        }
      }
    }
    &.syntax--comment{
      &.syntax--block{
        &.syntax--piku{
          color: @piku-gray;
        }
      }
    }
    &.syntax--star{
      &.syntax--piku{
        color: @piku-yellow;
      }
    }
		&.syntax--arrow{
      &.syntax--piku{
        color: @piku-gray;
      }
    }
  }
  &--comment{
    &.syntax--note{
      &.syntax--piku{
        color: @piku-red;
      }
    }
    &.syntax--line{
      &.syntax--piku{
        color: @piku-gray;
      }
    }
  }
  &--entity{
    &.syntax--uri{
      &.syntax--piku{
        color: @piku-purple;
      }
    }
    &.syntax--email{
      &.syntax--piku{
        color: @piku-purple;
      }
    }
    &.syntax--time{
      &.syntax--piku{
        color: @piku-yellow;
      }
    }
    &.syntax--date{
      &.syntax--piku{
        color: @piku-yellow;
      }
    }
  }
}


// assist style
// atom-text-editor .piku{
//   color: @piku-base-text;
// }
//
// .markup{
//   &.heading.h2.piku{
//     color: @piku-pink;
//   }
//   &.heading.h3.piku{
//     color: @piku-right-blue;
//   }
//   &.heading.h4.piku{
//     color: @piku-pink;
//   }
//   &.heading.h5.piku{
//     color: @piku-pink;
//   }
//   &.heading.list.piku{
//     color: @piku-right-blue;
//   }
//   &.list.numbered.piku{
//     color: @piku-yellow;
//   }
//   &.comment.block.piku{
//     color: @piku-gray;
//   }
// }
// .comment{
//   &.note.piku{
//     color: @piku-red;
//   }
//   &.line.piku{
//     color: @piku-gray;
//   }
// }
// .entity{
//   &.uri.piku{
//     color: @piku-blue;
//   }
//   &.email.piku{
//     color: @piku-blue;
//   }
// }
